<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {{ $values := . }}
        <h1>What are the values passed in?</h1>
        <h2>{{$values}}</h2>
    </body>
</html>